{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Forms</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <form class="" action="" method="post">
    <input type="text" name="" placeholder="Nombre Completo">
    <input type="text" name="" placeholder="Correo">
    <input type="text" name="" placeholder="Usuario">
    <input type="text" name="" placeholder="Contraseña">
    <button name="button"> Registrar</button>
  </form>
</body>
</html>
